@import "tailwindcss";

@theme {
  --color-primary: var(--color-cyan-600);
  --color-primary-hover: var(--color-cyan-700);
  --color-primary-light: var(--color-cyan-50);
  --color-red-650: #e02424;
}

[x-cloak] {
  display: none !important;
}

html {
  scroll-behavior: smooth;
}
